.btn {
    @apply py-3;
    @apply px-5;
}

.btn-sm {
    @apply py-2;
    @apply px-4;
}

.btn-lg {
    @apply py-3;
    @apply px-8;
}

@screen md {
    .btn-lg {
        @apply py-4;
        @apply px-10;
    }
}