.navbar {
    @apply py-6;
}

.navbar-nav {

    .nav-link {
        @apply text-sm;
        @apply font-medium;
    }
}

.navbar-light {

    .navbar-nav {

        .nav-link {
            @apply text-gray-500;

            &:hover {
                @apply text-gray-900;
            }
        }
    }
}